{% extends '::home.html.twig' %}
{% block body -%}
    <section id="bannerSection"
             style="background:url({{ asset('themes/images/banner/portfolio.png) no-repeat center center') }} ">
        <div class="container">
            <h1 id="pageTitle" class="style-h1">Portfolio
                <small class="style-h1">Potfolio</small>
		<span class="pull-right toolTipgroup">
			<a href="#" data-placement="top" data-original-title="Find us on via facebook"><img style="width:45px"
                                                                                                src="{{ asset('themes/images/facebook.png') }}"
                                                                                                alt="facebook"
                                                                                                title="facebook"></a>
			<a href="#" data-placement="top" data-original-title="Find us on via twitter"><img style="width:45px"
                                                                                               src="{{ asset('themes/images/twitter.png') }}"
                                                                                               alt="twitter"
                                                                                               title="twitter"></a>
			<a href="#" data-placement="top" data-original-title="Find us on via youtube"><img style="width:45px"
                                                                                               src="{{ asset('themes/images/youtube.png') }}"
                                                                                               alt="youtube"
                                                                                               title="youtube"></a>
		</span>
            </h1>
        </div>
    </section>
    <br>
<div class="row">
    <li class="span3">
        <div class="thumbnail">
            <div class="blockDtl">
                <h4>My web solutions</h4>
                <a href="http://mywebsolution.info" target="_blank" ><img src="{{ asset('img/nedra.jpg') }}" alt="bootstrap business templates"/></a>
                <p>Our aim is simple - to provide affordable web design and development services for different devices. </p>
                <div class="btn-toolbar">
                    <div class="btn-group toolTipgroup">
                        <a class="btn" href="mailto:developer.sba@gmail.com" data-placement="right" data-original-title="send email"><i class="icon-envelope"></i></a>
                        <a class="btn" href="#" data-placement="top" data-original-title="do you like?"><i class="icon-thumbs-up"></i></a>
                        <a class="btn" href="#" data-placement="top" data-original-title="dont like?"><i class="icon-thumbs-down"></i></a>
                        <a class="btn" href="#" data-placement="top" data-original-title="share"><i class="icon-link"></i></a>
                        <a href="http://mywebsolution.info" target="_blank" class="btn" data-placement="left" data-original-title="browse"><i class="icon-globe"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </li>
</div>
    </div>
    <br>
    <table class="records_list">

        <tbody>
        {% for entity in entities %}
            <div class="jumbotron">

            </div>
            <tr>


                <ul>
                    <li>
                        <a class="btn btn-success" href="{{ path('introduction_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a class="btn btn-info" href="{{ path('introduction_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
