{% extends '::home.html.twig' %}
{% block body -%}

    <section id="bannerSection"
             style="background:url(themes/images/banner/portfolio.png) no-repeat center center ;">
        <div class="container">
            <h1 id="pageTitle" class="style-h1">Portfolio
                <small class="style-h1">Les Formations</small>
		<span class="pull-right toolTipgroup">
			<a href="#" data-placement="top" data-original-title="Find us on via facebook"><img style="width:45px"
                                                                                                src="{{ asset('themes/images/facebook.png') }}"
                                                                                                alt="facebook"
                                                                                                title="facebook"></a>
			<a href="#" data-placement="top" data-original-title="Find us on via twitter"><img style="width:45px"
                                                                                               src="{{ asset('themes/images/twitter.png') }}"
                                                                                               alt="twitter"
                                                                                               title="twitter"></a>
			<a href="#" data-placement="top" data-original-title="Find us on via youtube"><img style="width:45px"
                                                                                               src="{{ asset('themes/images/youtube.png') }}"
                                                                                               alt="youtube"
                                                                                               title="youtube"></a>
		</span>
            </h1>
        </div>
    </section>
    <div class=" row">
        <div class="span4">
            <div class="style-image">

                <a href="#">
                    <img class="img-responsive" src="{{ asset('img/nedra.jpg') }}" alt="">
                </a>
            </div>


            <h3>
                {{ entity.titre }}
            </h3>

            <p>
         publiée le:{% if entity.date %}{{ entity.date|date('Y-m-d H:i:s')}}{% endif %}
         {{ entity.description |raw }}
        </p>

            <button type="button" class="btn btn-warning"> <a href="{{ path('news_show', { 'id': entity.id }) }}" class="btn-warning">Lire la suite</a></button>

        </div>



    </div>

{% endblock %}
