{% extends '::home.html.twig' %}
{% block body -%}
    <section id="carouselSection" style="text-align:center">
        <div id="myCarousel" class="carousel slide">
            <div class="carousel-inner">
                <div style="text-align:center" class="item">
                    <div class="wrapper"><img
                                src="{{ asset('themes/images/carousel/business_website_templates_1.jpg') }}"
                                alt="business themes">

                        <div class="carousel-caption">
                            <h2>Qui je suis?</h2>

                            <p>Conférencière, experte en développement de soi , Co fondatrice de" l'école de la vie",  fondatrice et formatrice de la  méthode" comment transformer sa vie  en un mois? " . </p>
                            <a href="{{ path('introduction_index_front') }}" class="btn btn-large btn-success">Plus
                                D'information</a>
                        </div>
                    </div>
                </div>
                <div style="text-align:center" class="item active">
                    <div class="wrapper"><img
                                src="{{ asset('themes/images/carousel/business_website_templates_2.jpg') }}"
                                alt="business webebsite template">

                        <div class="carousel-caption">
                            <h2>Qu'est que je fais</h2>

                            <p>Je vous guide pas à pas à réaliser vos projets, à réussir plus facilement dans tous les domaines de votre vie. Je vous apprend à dépasser vos difficultés en vous permettant de mieux les gérer.</p>
                            <a href="{{ path('services_index_front') }}" class="btn btn-large btn-success">Plus
                                D'information</a>
                        </div>
                    </div>
                </div>

                <div style="text-align:center" class="item">
                    <div class="wrapper"><img
                                src="{{ asset('themes/images/carousel/business_website_templates_3.jpg') }}"
                                alt="business themes">

                        <div class="carousel-caption">
                            <h2>Qu'est ce que fait?</h2>

                            <p>We specialise in web design, web development and graphic design for differeuce cheapest and best mobile web design packages in our services.  </p>
                            <a href="{{ path('media_index_front') }}" class="btn btn-large btn-success">Our
                                Portfolio</a>
                        </div>
                    </div>
                </div>

                <div style="text-align:center" class="item">
                    <div class="wrapper"><img
                                src="{{ asset('themes/images/carousel/business_website_templates_4.jpg') }}"
                                alt="business themes">

                        <div class="carousel-caption">
                            <h2>Besoin d'aide?</h2>

                            <p>Vous pouvez me contacter en m'envayant un email.Vous êtes les bienvenues </p>
                            <a href="{{ path('contact_new') }}" class="btn btn-large btn-success">Contact us</a>
                        </div>
                    </div>
                </div>
            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>
    </section>

    <input type='hidden' id='current_page'/>
    <input type='hidden' id='show_per_page'/>
    <div class="row">
        <div class="span8">
            <div id='content'>

                {% for entity in entities %}
                    <p><img src="{{ asset('upload/news/'~entity.id~'.'~entity.path) }}" alt="" height="525"
                            width="666"/>
                    </p>
                    <P>{{ entity.titre }}</P>
                    <p>
         publiée le:{% if entity.date %}{{ entity.date| date("Y-m-d ")}}{% endif %}
        </p>
                    <p>{{ entity.description [:7] |raw }}
                        {% if entity.description|length >7 %}
                            ... <a href="{{ path('news_show_front', { 'id': entity.id }) }}">lire le suite</a>
                        {% endif %}
                    </p>
                    <P>

                    </P>


                {% endfor %}

            </div>


            <!-- An empty div which will be populated using jQuery -->
            <div id='page_navigation'></div>

        </div>

        <div class="span4">


            <div class="well well-small">
                <h4 class="style-h1">Derniers Programmes</h4>
                <ul class="nav nav-tabs nav-stacked">
                    <li>
                        {{ render(controller('SiteNedraBundle:Programme:recentProgramme', { 'max': 3 })) }}

                    </li>
                </ul>
            </div>
            <div class="well well-small">
                <h4 class="style-h1">Derniers Articles</h4>
                <ul class="nav nav-tabs nav-stacked">
                    <li class="active">
                        {{ render(controller('SiteNedraBundle:Services:derniereFormation', { 'max': 3 })) }}

                    </li>
                </ul>
            </div>
            <div class="well well-small">
                <h4 class="style-h1">Dalila Ghariani</h4>
                <ul class="nav nav-tabs nav-stacked">
                    <p>
                        <img class="img-responsive" src="{{ asset('img/dalila.jpg') }}" alt="">

                        Professeur-Conférencière -formatrice, experte en développement Personnel, fondatrice de l'école
                        de la vie, Diplômée en team building and team motivating du NLP Scotland school et Formatrice et
                        enseignante du yoga du rire diplômée du DR Kararia’s School of laughter Yoga London, elle est la
                        cofondatrice et la formatrice de la méthode" comment transformer sa vie en un mois? "cette
                        méthode révolutionnaire qui a radicalement changé la vie des gens qui l'ont appliqué.
                        Vous pouvez voir tous ses passages tv sur You tube ou bien la suivre tous les samedis matin sur
                        Hannibal TV.

                    <div style="font-size:2.5em;">
                        <a href="#facebook" role="button" data-toggle="modal" style="display:inline-block; width:1em">
                            <i class="icon-facebook-sign"> </i> </a>
                        <a href="#twitter" role="button" data-toggle="modal" title=""
                           style="display:inline-block; width:1em"> <i class="icon-twitter-sign"> </i> </a>
                        <a href="#youtube" role="button" data-toggle="modal" style="display:inline-block;width:1em"> <i
                                    class="icon-facetime-video"> </i> </a>

                        <!-- Facebook -->
                        <div id="facebook" class="modal hide fade" tabindex="-1" role="dialog"
                             aria-labelledby="facebook" aria-hidden="true">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h3>Ma page FaceBook</h3>
                            </div>
                            <div class="modal-body">
                                <p>"Our aim is simple - to provide affordable web design and development services for Mobile and Computer by creating websites that fully meet your requirements a professional look that inspire confidence in your customer."</p>
                            </div>
                            <div class="modal-footer">
                                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                                <button class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                        <!-- Twitter -->
                        <div id="twitter" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="twitter"
                             aria-hidden="true">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h3>Twitter Header</h3>
                            </div>
                            <div class="modal-body">
                                <p>"Our aim is simple - to provide affordable web design and development services for Mobile and Computer by creating websites that fully meet your requirements a professional look that inspire confidence in your customer."</p>
                            </div>
                            <div class="modal-footer">
                                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                                <button class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                        <!-- Rss feed -->

                        <!-- Youtube -->
                        <div id="youtube" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="youtube"
                             aria-hidden="true">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h3>Youtube Vedio</h3>
                            </div>
                            <div class="modal-body">
                                Vedios here
                            </div>
                            <div class="modal-footer">
                                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                                <button class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>

                    </p>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
