{% extends '::home.html.twig' %}

{% block body -%}
    <section id="bannerSection"
             style="background:url(themes/images/banner/portfolio.png) no-repeat center center  ;">
        <div class="container">
            <h1 id="pageTitle" class="style-h1">
                <small class="style-h1">Contactez-moi</small>
		<span class="pull-right toolTipgroup">
			<a href="#" data-placement="top" data-original-title="Find us on via facebook"><img style="width:45px"
                                                                                                src="{{ asset('themes/images/facebook.png') }}"
                                                                                                alt="facebook"
                                                                                                title="facebook"></a>
			<a href="#" data-placement="top" data-original-title="Find us on via twitter"><img style="width:45px"
                                                                                               src="{{ asset('themes/images/twitter.png') }}"
                                                                                               alt="twitter"
                                                                                               title="twitter"></a>
			<a href="#" data-placement="top" data-original-title="Find us on via youtube"><img style="width:45px"
                                                                                               src="{{ asset('themes/images/youtube.png') }}"
                                                                                               alt="youtube"
                                                                                               title="youtube"></a>
		</span>
            </h1>
        </div>

    </section>
    <br>
    <div  class="row">
        <div class="alert alert-success" role="alert">
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="flash-notice">
                    {{ flashMessage }}
                </div>
            {% endfor %}
        </div>
        <div  class="span6">
    {{ form(form) }}



        </div>
        <div  class="span6">
                <div id="myMap" style="height:500px">
                    <h4 style="text-align: center ">Retrouvez la librairie la plus proche de vous </h4>
                    <iframe src="https://mapsengine.google.com/map/embed?mid=zhi9TRL4bKTM.k588PHJEw4TY" width="480" height="400"></iframe>

                </div>

        </div>
    </div>
{% endblock %}
