{% extends '::base.html.twig' %}

{% block body -%}

    <div class="row-fluid">

        <div class="span12">

            <div class="box gradient">

                <div class="title">
                    <h4>
                        <span>Liste Des Formations</span>
                    </h4>
                </div>
                <div class="content noPad clearfix">
                    <table cellpadding="0" cellspacing="0" border="0"
                           class="responsive dynamicTable display table table-bordered" width="100%">
                        <thead>
                        <tr>
                            <th>Nom de Formation</th>
                            <th>Adresse</th>
                            <th>Description</th>
                            <th>Date</th>
                            <th>NB De Jours</th>
                            <th>Actions</th>

                        </tr>
                        </thead>
                        <tbody>

                        {% for entity in entities %}
                            <tr>
                                <td>{{ entity.titre }}</td>
                                <td>{{ entity.adresse }}</td>
                                <td>{{ entity.description |raw}}</td>
                                <td>{% if entity.date %}{{ entity.date|date('Y-m-d') }}{% endif %}</td>
                                <td>{{ entity.type }}</td>

                                <td>
                                    <a class="btn btn-success" href="{{ path('services_show', { 'id': entity.id }) }}">
                                        <i class="glyphicon glyphicon-zoom-in icon-white"></i>
                                        View
                                    </a>
                                    <a class="btn btn-info" href="{{ path('services_edit', { 'id': entity.id }) }}">
                                        <i class="glyphicon glyphicon-edit icon-white"></i>
                                        Edit
                                    </a>
                                    <a class="btn btn-danger" href="{{ path('services_delete', { 'id': entity.id }) }}">
                                        <i class="glyphicon glyphicon-trash icon-white"></i>
                                        Delete
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>

                    </table>


                </div>
            </div>
            <ul>
                <li>
                    <a href="{{ path('services_new') }}">
                        Create a new entry
                    </a>
                </li>
            </ul>

        </div>
    </div>
    {% endblock %}
