{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Media list</h1>
    <div class="span6">
    <div class="page-header">
        <h4>Gallery View <small>with pagination</small></h4>
    </div>

    <!-- item container -->
    <ul id="itemContainer" class="galleryView center">
    <li>
        <a href="images/gallery/1.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/1.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/2.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/2.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/3.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/3.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/4.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/4.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/5.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/5.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/7.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/7.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/8.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/8.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/9.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/9.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/10.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/10.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/11.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/11.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/12.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/12.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/13.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/13.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/14.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/14.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/15.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/15.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/16.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/16.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/17.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/17.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/18.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/18.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/19.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/19.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/20.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/20.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/1.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/1.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/2.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/2.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/3.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/3.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/4.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/4.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/5.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/5.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/7.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/7.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/8.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/8.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/9.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/9.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/10.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/10.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/11.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/11.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/12.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/12.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/13.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/13.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/14.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/14.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/15.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/15.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/16.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/16.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/17.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/17.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/18.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/18.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/19.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/19.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/20.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/20.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/1.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/1.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/2.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/2.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/3.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/3.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/4.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/4.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/5.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/5.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/7.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/7.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/8.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/8.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/9.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/9.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/10.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/10.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/11.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/11.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/12.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/12.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/13.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/13.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/14.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/14.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/15.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/15.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/16.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/16.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/17.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/17.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/18.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/18.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/19.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/19.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/20.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/20.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/1.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/1.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/2.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/2.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/3.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/3.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/4.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/4.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/5.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/5.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/7.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/7.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/8.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/8.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/9.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/9.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/10.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/10.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/11.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/11.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/12.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/12.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/13.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/13.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/14.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/14.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/15.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/15.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/16.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/16.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/17.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/17.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/18.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/18.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/19.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/19.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/20.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/20.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/1.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/1.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/2.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/2.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/3.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/3.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/4.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/4.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/5.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/5.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/7.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/7.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/8.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/8.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/9.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/9.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/10.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/10.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/11.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/11.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/12.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/12.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/13.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/13.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/14.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/14.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/15.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/15.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/16.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/16.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/17.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/17.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/18.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/18.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/19.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/19.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/20.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/20.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/1.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/1.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/2.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/2.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/3.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/3.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/4.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/4.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/5.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/5.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/7.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/7.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/8.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/8.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/9.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/9.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/10.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/10.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/11.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/11.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/12.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/12.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/13.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/13.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/14.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/14.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/15.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/15.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/16.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/16.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/17.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/17.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/18.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/18.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/19.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/19.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    <li>
        <a href="images/gallery/20.jpg" rel="prettyPhoto" title="Title for image">
            <img src="images/gallery/preload.png" data-original="images/gallery/thumbnails/20.jpg" alt="Image name" />
        </a>
        <div class="actionBtn">
            <a href="#" class="edit"><span class="icon16 typ-icon-pencil white"></span></a>
            <a href="#" class="delete"><span class="icon16 typ-icon-cross white"></span></a>
        </div>
    </li>
    </ul>

    <!-- navigation holder -->
    <div class="center">
        <div class="holder"></div>
    </div>

    </div><!-- End .span6 -->

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Photos</th>
                <th>Videos</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('media_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.photos }}</td>
                <td>{{ entity.videos }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('media_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('media_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('media_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
